.app{
    height: 100vh;
  }
  
  .app-dark{
    background-color: #19171A;
    /* #555759; */
    /* #363538; */
    color:white;
  }
  
  .app-light{
    background-color: #d8d9da;
    /* #d3d3d3; */
    color:black;
  }