* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: sans-serif;
  line-height: 1;
  /* font-weight: 400; */
  font-size: 1.4rem;
}

:root{
  --border:solid 0.2rem #aeafad;
}

/* removing scroll bar  */
 ::-webkit-scrollbar {
  display: none;
}


.dark {
  color: white;
  background-color: #19171A;
}

.light {
  color: black;
  background-color: #eae9e9;
}



.back-btn{
  display: none;
}

@media screen and (max-width: 1020px){
  .editor-wrapper, .preview{
    width: 100%;
    flex-grow: 1;
  }
  .header{
    justify-content: start;
  }
  
  .hide-preview, .hide-editor-wrapper{
    display: none;
  }
  .unhide-preview, .unhide-editor-wrapper,.back-btn{
    display: unset;
  }
  .monaco-editor-wrapper{
    width: 100%;
  }
  .btn-wrapper{
    padding: 0 0.2rem;
  }
  .back-btn{
    width: fit-content;
  }
}
  
